body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
    
    background-image: url("../images/eberhard-grossgasteiger-1036384-unsplash.jpg");

    height: 100%; 

  /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    overflow: hidden
}


.container{
    
    margin-top: 5% !important;
}


input[type=text] {
    background: transparent !important;
    border: none !important;
    border-bottom: 1px solid #ffffff !important;
    outline: none !important;
    min-width: 50% !important;
    max-width: 60% !important;
    font-size: 3rem !important;
    text-align: center !important;
    overflow: hidden !important;
    display:block !important;
    margin: 0 auto;
    border-radius: 0px !important;
    color: white;
/*    padding-top: 20px;*/
}
.padding_main {
    margin-top: 10% !important;
}
input[type=text]:focus{
    
    outline: none !important;
}

button:active {
outline: none;
border: none;
}

input:active {
outline: none;
border: none;
}

.hidBtn {
    display: none;
}


.time{
    
    font-size: 5rem !important;
}


.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}


