body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
    
    background-image: url("../images/eberhard-grossgasteiger-1036384-unsplash.jpg");

    height: 100%; 

  /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    overflow: hidden
}


.container{
    
    margin-top: 0% !important;
}

li{
    
    list-style: none;
    float: left;

}

ol{
    
    padding: 0;
}

input[type=checkbox]{
    
    margin-right: 7px;
}


.input_focus {
    background: transparent !important;
    border: none !important;
    border-bottom: 2px solid #ffffff !important;
    outline: none !important;
    min-width: 50% !important;
    max-width: 60% !important;
    font-size: 2rem !important;
    text-align: center !important;
    overflow: hidden !important;
    display:block !important;
    margin: 0 auto;
    border-radius: 0px !important;
    padding-top: 20px;
}

input:focus{
    
    color: white;
}
/*
.padding_main {
    margin-top: 1% !important;
}
*/

.container{
    
    margin-top: 10% !important;
}
input[type=text]:focus{
    
    outline: none !important;
}

button:active {
outline: none;
border: none;
}

input:active {
outline: none;
border: none;
}

.hidBtn {
    display: none;
}


.time{
    
    font-size: 1000% !important;
}


.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

h5{
    
    font-size: 2rem !important;
    font-weight: 500;
    margin-left: 25px;
}

img{
    
    height: 2rem;
/*    margin-left: 1rem;*/
}

img:hover{
    
    cursor: grabbing;
}




h3 {
    font-weight: 500;
    font-size: 2.5rem;
}

.greeting {
    font-size: 337.5%;
    font-weight: 500;
}

.quote-body{
    
    padding-top: 10px;
    position: relative;
}

.containe {
    padding-top: 10% !important;
}

.weather {
    
    height: 3rem;
    padding-right: 2rem;
    margin-top: 2rem
}

.to-do {
    padding-left: 2rem;
    margin-top: 2rem
}

.td:hover {
    cursor: pointer;
    color: white;
    
}

.td{
    
    color:darkgray;
    font-weight: 500;
}


.card-body {
    background-color: rgba(0, 0, 0, 0.64) !important;
    height: auto;
}

.todoInput{
    
    
    background: transparent !important;
    border: none !important;
    border-top: 2px solid #ffffff !important;
    outline: none !important;
    overflow: hidden !important;
    display:block !important;
    border-radius: 0px !important;
    margin-top: 50px;
}

/*
.far {
    float: right;
}
*/





.col-sm-8 {
    
}

.far {
    display: inline-block !important;
}

i:hover {
    
    cursor: pointer;
    
}

.marg {
    margin-left: 10px;
    margin-right: 20px;
}
